body{
    background-image: url('./imagenes/fondo.jpg');
    background-repeat: no-repeat ;
    height: 100vh;
    background-size: cover;
    padding: 0;
    padding-top: 0;
    margin: 0; 
    display: flex;
    flex-direction: column;  
    
}

header{
    backdrop-filter:blur(6px) ;
    background-color: rgba(70, 128, 78, 0.212);
    border: 15px white;
    margin: 0;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

h1 {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: left;
}
.ini {
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    padding-right: 50px;
    
}
.ini a:hover{
    color: rgba(255, 255, 255, 0.315);
}


.menu-icono {
    width: 40px;       
    cursor: pointer;   
    padding-left: 50px; 

}
.menu-icono:hover .barra{
    background: #00e0b8;
}


.barra {
    display: block;    
    width: 100%;        
    height: 4px;       
    margin: 6px 0;     
    background-color: #fffdfd; 
    transition: 0.4s;  
    
}

.menu-inf {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    margin: 0;
    
    align-items: center;
    
}
.menu-inf a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
.menu-inf a:hover{
    color: rgba(255, 255, 255, 0.425);
}

footer {
    background-color: rgba(70, 128, 78, 0.212);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom:auto;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.log{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}
.span{
    flex-direction: column;
    gap: 5px;
    display: flex;
    padding: 10px;

}
.span a:hover{
    color: #46b146;
}

h1{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 0;
}

input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: rgba(7, 7, 7, 0.418);
    color: white;
    font-size: 18px;
    outline: none;
    transition: 0.3s;
    border-radius: 10px;
}
input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom: 2px solid #00e0b8;
}
input[type="text"]:hover,
input[type="password"]:hover {
    background: rgba(255, 255, 255, 0.582);
}


.place{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.but {
    text-align: center;
    padding-top: 15px;
}
.but button{
    padding:10px 25px;
    border-radius: 15px;
    border: none;
    background: rgb(22, 175, 22);
    cursor: pointer;
    width: 150px;
    margin: auto;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    
    
}

.but button:hover {
    
    background: rgb(22, 88, 22);
    color: rgb(168, 168, 168);
}

.login {
    
    background: rgba(255, 255, 255, 0.158);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); 
    display: flex;
    gap: 15px;   
    width: min-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
}
.center{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}


