
body {
    background: rgb(22, 36, 21);  
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0;
    margin: 0; 
    display: flex;
    width: auto;
}
header{
    width: 100%;
    padding-top:auto;
    position: fixed;
    
}
#home{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.288);
    padding: 2px 10px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #ffffff;
    
}
#home:hover{
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.39);
    border-bottom: 2px solid rgba(11, 240, 3, 0.705);
}
#home:focus{
    border-bottom: 2px solid rgb(10, 228, 228);
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    height: auto;
}

.user {
    background: rgba(255, 255, 255, 0.158);  
    padding: 30px;
    width: auto;
    border-radius: 15px;
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); 
    display: flex;
    flex-direction: column;
    gap: 10px;         
}


input[type="text"],
input[type="password"],
input[type="email"] {
    width: 300px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: rgba(7, 7, 7, 0.418);
    color: white;
    font-size: 18px;
    outline: none;
    transition: 0.3s;
    border-radius: 10px;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover  {
    background: rgba(255, 255, 255, 0.658);
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-bottom: 2px solid #00e0b8;
}

.user button {
    padding:10px 25px;
    border-radius: 15px;
    border: none;
    background: rgb(22, 175, 22);
    cursor: pointer;
    width: 150px;
    margin: auto;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.user button:hover {
    background: rgb(22, 88, 22);
    color: rgb(168, 168, 168);
}

.global{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    width: 100%;          
}




